.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
  margin-top: auto;
  height: 100px;
  color: white;
  background-color: black;
}

.navbar .btn {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 30px;
}

.navbar .name {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  font-weight: bold
}

#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

.aboutMeduleText {
  padding: 10% 10% 2% 10%;
  font-size: 200%;
}

.meduleSlogan{
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.App {
  /* background-image: url("./background.gif"); */
  background-size: % 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}